{{!-- <h1>Counter Index</h1>


<div>
    Start here

    <form action="/count" method="post">
        <div class="counter">
            {{counter}}
        </div>
        <input type="submit" value="Press button to count">

    </form>

</div> --}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Perfect Pizza</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
</head>

<body>
    <div>
        <div class="orders">
            <b><a href="/orders">Orders</a></b>
        </div>

        <div class="header">
            <h1>Perfect Pizza</h1>
            <div class="pizzaImg">
                <img src="https://endlessicons.com/wp-content/uploads/2012/09/pizza-icon-614x460.png" alt=""
                    width="145%">
            </div>

        </div>


        <div class="cart">
            <h3>Shopping Cart</h3>
            <br>
            <img src="shopping-cart.png" alt="">
            <form action="/count" method="post">
                <table>
                    <tr>
                        <td><strong>Small</strong>
                            <button class="plus" name="pizza" value="smallPlus">+</button>
                            <button class="minus" name="pizza" value="smallMinus">-</button>
                        </td>

                        </td>
                        </td>

                        <td><span class="smallTotalPrice">R{{small}}</span></td>
                    </tr>

                    <tr>
                        <td><strong>Medium</strong>
                            <button class="plus" name="pizza" value="medPlus">+</button>
                            <button class="minus" name="pizza" value="medMinus">-</button>

                        <td><span class="mediumTotalPrice">R{{medium}}</span></td>
                    </tr>
                    <tr>
                        <td><strong>Large</strong>
                            <button class="plus" name="pizza" value="largePlus">+</button>
                            <button class="minus" name="pizza" value="largeMinus">-</button>
                        </td>
                        <td><span class="largeTotalPrice">R{{large}}</span></td>
                    </tr>
                    <tr>
                        <td><strong>Total price</strong></td>
                        <td><span class="totalPrice">R{{counter}}</span></td>
                    </tr>
                </table>
            </form>
            <form action="/orders" method="GET">
                <div class="orderBox">
                    <input class="btn orderMediumPizza" type="submit" value="Order" style="margin-left: auto">
                </div>
            </form>

        </div>

        <div class="pizzas">
            <form action="/count" method="post">
                <div class="pizza small">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Small Pizza</h2>
                        <strong>R35.00</strong>
                        <i>
                            <p>
                                Small pizza with mushroom, ham, anchovy & olives
                            </p>
                        </i>
                    </div>
                    <div class="orderBox">
                        <input class="btn orderSmallPizza" type="submit" value="buy small" name="actionType"
                            style="margin-left: auto">
                    </div>
                </div>
                <div class="pizza medium">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Medium Pizza</h2>
                        <strong>R65.00</strong>

                        <div>
                            medium margherita pizza with cheese, olive oil, origanum & garlic
                        </div>
                    </div>

                    <div class="orderBox">
                        <input class="btn orderMediumPizza" type="submit" value="buy medium" name="actionType"
                            style="margin-left: auto">
                    </div>

                </div>
                <div class="pizza large">
                    <div class="info">
                        <img src="pizza.png" alt="">
                        <h2>Large Pizza</h2>
                        <strong>R85.00</strong>
                        <div>
                            large pizza with chicken, piquanté peppers & feta cheese
                        </div>
                    </div>
                    <div class="orderBox">
                        <input class="btn orderLargePizza" type="submit" value="buy large" name="actionType"
                            style="margin-left: auto">
                    </div>
                </div>


            </form>

        </div>
        <div class="footer">
            <div class="contact">

            </div>

        </div>
    </div>
</body>
<script src="order-pizza.js"></script>
<script src="pizza.js"></script>

<hr>


</html>

</html>